<h4>Acertos</h4>
        
        
        <div class="row">
            <div class="col-sm-1">
                <div class="well">
                    <h6>20 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>19 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>18 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>17 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>16 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>15 Pts</h6>                       
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>5 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>4 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>3 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>2 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>1 Pts</h6>                        
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <h6>0 Pts</h6>                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
            <div class="col-sm-1">
                <div class="well">
                    <p>Text</p>                                                
                </div>
            </div>
        </div>